{% extends 'base.html.twig' %}

{% block title %}Nos Médecins Généralistes{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Nos Médecins Généralistes</h1>
        <p class="text-center">Nous avons une équipe de médecins généralistes qualifiés prêts à vous aider. Ils sont spécialisés dans divers domaines de la santé.</p>

        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ asset('images/medecin1.jpg') }}" class="card-img-top" alt="Médecin Généraliste 1">
                    <div class="card-body">
                        <h5 class="card-title">Médecin Généraliste 1</h5>
                        <p class="card-text">Le médecin généraliste 1 vous accompagne dans la prévention, le diagnostic et le traitement de diverses maladies courantes.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ asset('images/medecin2.jpg') }}" class="card-img-top" alt="Médecin Généraliste 2">
                    <div class="card-body">
                        <h5 class="card-title">Médecin Généraliste 2</h5>
                        <p class="card-text">Le médecin généraliste 2 est spécialisé dans la prise en charge globale de votre santé, vous orientant vers des spécialistes si nécessaire.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ asset('images/medecin3.jpg') }}" class="card-img-top" alt="Médecin Généraliste 3">
                    <div class="card-body">
                        <h5 class="card-title">Médecin Généraliste 3</h5>
                        <p class="card-text">Le médecin généraliste 3 se concentre sur le suivi des maladies chroniques et la promotion d'un mode de vie sain.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ asset('images/medecin4.jpg') }}" class="card-img-top" alt="Médecin Généraliste 4">
                    <div class="card-body">
                        <h5 class="card-title">Médecin Généraliste 4</h5>
                        <p class="card-text">Le médecin généraliste 4 est disponible pour des consultations sur des problèmes de santé divers et pour des bilans de santé.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ asset('images/medecin5.jpg') }}" class="card-img-top" alt="Médecin Généraliste 5">
                    <div class="card-body">
                        <h5 class="card-title">Médecin Généraliste 5</h5>
                        <p class="card-text">Le médecin généraliste 5 offre un suivi personnalisé, répondant à vos questions de santé et vous aidant à gérer vos traitements.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
